@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    font-family: 'Lexend Deca';
    display: flex;
    width: 900px;
    height: 400px;
    color: white;
}

.sedans{
    background-color: hsl(31, 77%, 52%);
    width: 300px;
    height: 400px;
    padding: 40px;
    border-radius: 10px 0 0 10px;
}

.suvs{
    background-color: hsl(184, 100%, 22%);
    width: 300px;
    height: 400px;
    padding: 40px;
}

.luxury{
    background-color: hsl(179, 100%, 13%);
    width: 300px;
    height: 400px;
    padding: 40px;
    border-radius: 0 10px 10px 0;
}

h1{
    padding: 20px 0;
}

p{
    font-size: 15px;
    padding-bottom: 55px;
}

h2{
    color: hsl(31, 77%, 52%);
    background-color: white;
    font-size: 15px;
    padding: 10px 0 10px 20px;
    margin: 0 97px 0 0;
    border-radius: 30px;
    cursor: pointer;
}

.suvs h2{
    color: hsl(184, 100%, 22%);
}

.luxury h2{
    color: hsl(179, 100%, 13%);
}

.sedans h2:hover{
    background-color: hsl(31, 77%, 52%);
    color: white;
    border: solid 2px white;
}

.suvs h2:hover{
    background-color: hsl(184, 100%, 22%);
    color: white;
    border: solid 2px white;
}

.luxury h2:hover{
    background-color: hsl(179, 100%, 13%);
    color: white;
    border: solid 2px white;
}